.rules-page-style {
  background-color: #fff;
  overflow: hidden;
  padding-bottom: 100px;

  h2 {
    color: #1e5b89;
    font-size: 32px;
    font-weight: 500;
  }

  .container {
    h1 {
      color: #1e5b89;
      font-size: 60px;
      font-weight: 500;
    }
    .rule-text {
      font-size: 18px;
      color: #333;
    }
  }
}
