@import '../ui/var.scss';

.content-box {
  padding-left: 51px;
  padding-right: 51px;
}
.introduction-box {
  padding: 10px inherit;
}
.introduction-box h4 {
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 600;
}
.introduction-box p {
  font-size: 15px;
}
.link {
  color: $text-dark-blue;
  text-decoration: unset;
  font-weight: 500;
  font-size: 15px;
  transition: 0.3s all;
  &:hover {
    text-decoration: underline;
  }
}

input,
select {
  border: 2px solid #00698c;
  outline: none;
}

.horizontal-line {
  border-width: 1px;
  border-color: #238ba7;
  margin-top: 30px;
  margin-bottom: 30px;
}
.video-flex {
  display: flex;
}
.video-desc {
  padding: 0 30px;
  font-size: 15px;
}
.question-box {
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.content-desc {
  font-size: 14px;
  margin-bottom: 60px;
  .btn {
    margin-left: 10px;
  }
}

.small-content-header {
  display: none;
}

@media screen and (max-width: 1024px) {
  .small-content-header {
    display: flex;
    justify-content: space-between;
    padding: 26px 51px 0;
  }

  .desktop-mode {
    display: none;
  }

  .welcome-box {
    display: flex;
    color: #2aacc9;
    line-height: 41px;
    font-weight: 600;

    svg {
      fill: #2aacc9;
      margin-right: 4px;
    }
  }

  .video-box {
    .question-box {
      display: block;
      text-align: left;
    }

    .video-flex {
      display: block;
    }

    .video-desc {
      padding: 0;
    }
  }

  .dashbord-page {
    padding-bottom: 20px;
  }

  .content-box {
    .horizontal-line {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .content-desc {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 640px) {
  .content-header {
    padding: 24px 28px 0;
    h2 {
      font-size: 1.2rem;
      margin-bottom: 8px;
    }
  }

  .welcome-box {
    font-size: 14px;
    line-height: 30px;

    svg {
      fill: #2aacc9;
      margin-right: 4px;
      width: 30px;
      height: 30px;
    }
  }
  .small-content-header {
    padding: 26px 20px 0;

    .forums-button {
      font-size: 10px;
      padding: 5px 8px;
    }
  }

  .content-box {
    padding-left: 20px;
    padding-right: 20px;
    h4 {
      font-size: 1.1rem;
      margin-top: 8px;
    }

    .horizontal-line {
      margin-top: 14px;
      margin-bottom: 14px;
    }
  }

  .video-box {
    h2 {
      font-size: 1.1rem;
    }
  }

  .container {
    padding-left: 8px;
    padding-right: 8px;
  }

  .content-desc {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 414px) {
  .video-box {
    .video-flex {
      iframe {
        width: 320px;
        height: 180px;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .small-content-header {
    padding: 18px 14px 0;
  }

  .content-header {
    padding: 14px 18px 0;
  }
  .content-box {
    padding-left: 10px;
    padding-right: 10px;
  }

  .video-box {
    .video-flex {
      iframe {
        width: 300px;
        height: 175px;
      }
    }
  }

  .container {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media screen and (max-width: 330px) {
  .video-box {
    .video-flex {
      iframe {
        width: 280px;
        height: 160px;
      }
    }
  }
}

@media screen and (max-width: 310px) {
  .video-box {
    .video-flex {
      iframe {
        width: 240px;
        height: 140px;
      }
    }
  }
}

.form-how-doing-box {
  margin-top: -20px !important;
  margin: 0 auto;

  .form-how-doing .page-panel-group {
    flex-wrap: wrap;

    .page-panel-group-title {
      width: 100%;

      .page-panel-group-num {
        display: inline-block;
        min-width: 26px;
        text-align: right;
      }
    }

    .page-panel-group-body {
      flex-direction: row;
      padding-left: 32px;
      margin-top: -10px;

      .form-group {
        margin-bottom: 7px;
      }
    }
  }

  .btn-welcome {
    text-align: right;
    padding-top: 20px;
    margin-right: 40px;
    padding-bottom: 28px;

    > button {
      border-width: 0;
      height: 32px;
      text-transform: uppercase;
      margin-left: 10px;
      font-size: 13px;
    }
    i {
      margin-right: 10px;
    }
  }

  .sub-title {
    font-size: 17px;
    color: #222;
    margin-left: 40px;
  }

  .page-panel-group-container {
    border-radius: 4px;
    background-color: #fff;
    max-width: fit-content;
  }

  .page-panel-group {
    margin-left: 4px;
    margin-right: 4px;
    display: inline-flex;

    margin-bottom: 0;
    border-radius: 0;
    width: calc(100% - 8px);
    border-bottom: 1px solid #d3d3d3;

    .page-panel-group-title {
      width: 70%;
      font-size: 16px;

      border-radius: 0;
      background: #fff;
      color: #333;
      padding: 0.75rem 0rem;
      margin-left: 0.25rem;
      margin-bottom: 0;
    }

    .page-panel-group-body {
      display: inline-flex;
      padding: 0.5rem;
      margin-top: 0.2rem;

      .form-group {
        margin-bottom: 0rem;
        color: #333;
        margin-right: 10px;

        .radio input[type='radio'] + span {
          color: #333;

          &:after {
            width: 20px;
            height: 20px;
            margin-top: 0px;
            margin-left: 2px;
            margin-right: 0px;
            border: 2px solid #51bccb;
          }

          &:before {
            margin-left: 6px;
            width: 12px;
            height: 12px;
            margin-top: 4px;
          }
        }
        .radio .label-txt {
          font-size: 1rem;
          user-select: none;
        }

        .checkbox input[type='checkbox'] + span {
          color: #333;

          &:after {
            width: 20px;
            height: 20px;
            margin-top: 0px;
            margin-left: 2px;
            margin-right: 0px;
            border: 2px solid #51bccb;
          }

          &:before {
            margin-left: 6px;
            width: 12px;
            height: 12px;
            margin-top: 4px;
          }
        }
        .checkbox .label-txt {
          font-size: 1rem;
          user-select: none;
        }
      }
    }
  }

  .section-collapse .section-head {
    white-space: pre-wrap;
    width: 100%;
    padding-right: 180px;
  }
}

@media screen and (max-width: 1280px) {
  .form-how-doing-box {
    margin-top: -20px !important;
  }
  .form-how-doing {
    .section-collapse .section-head {
      width: 100%;
      padding-right: 220px;
    }
  }
}

@media screen and (max-width: 992px) {
  .form-how-doing {
    .section-collapse .section-head {
      padding-right: 210px;
    }

    .page-panel-group {
      display: block;

      .page-panel-group-title {
        width: calc(100% - 10px);
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .form-how-doing {
    .page-panel-group {
      .page-panel-group-body {
        display: block;

        .form-group {
          margin-bottom: 8px;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .form-how-doing-box {
    margin-top: 0px !important;
  }

  .form-how-doing {
    .page-panel-group {
      .page-panel-group-body {
        display: block;

        .form-group {
          margin-bottom: 8px;
        }
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .video-item {
    overflow: hidden;
  }
  .form-how-doing-box {
    width: calc(100% + 40px);
    margin-left: -20px;
  }
  .form-how-doing {
    .section-collapse .section-head {
      width: calc(100% - 80px);
      padding-right: 40px;
    }

    .section-collapse {
      .toggle-action {
        right: 40px;
        width: 2rem;
        > span {
          display: none;
        }
      }
      .section-head {
        margin-left: 24px;
        white-space: pre-wrap;
        width: calc(100% - 45px);
      }
    }
  }
}
