.items-list li {
  align-items: center;
}
.items-list li:last-child {
  margin-bottom: 0;
}

.legend-category {
  margin-top: -10px;
  display: flex;
  float: right;
  > p {
    text-transform: uppercase;
  }

  .select__control {
    //border-radius: 20px;
    font-size: 14px;
  }
}

.legend-informtation-list {
  margin-top: -20px;
  text-transform: uppercase;
}
.item-type::before,
.legend-informtation-list ul li::before {
  content: '';
  width: 20px;
  min-width: 20px;
  height: 20px;

  background-repeat: no-repeat !important;
  display: block;
  margin-right: 8px;
}
.items-list li.item-type-webpage::before,
.legend-informtation-list ul li.item-type-webpage::before {
  background: url('/img/assets/webpage-icon.png');
  background-size: contain;
}
.items-list li.item-type-book::before,
.legend-informtation-list ul li.item-type-book::before {
  background: url('/img/assets/book-icon.png');
  background-size: contain;
}
.items-list li.item-type-video::before,
.legend-informtation-list ul li.item-type-video::before {
  background: url('/img/assets/video-icon.png');
  background-size: contain;
}
.items-list li.item-type-favourite::before,
.legend-informtation-list ul li.item-type-favourite::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\F005';
  font-size: 16px;
  line-height: 1.1rem;
  color: #2c6789;
}
.items-list li.item-type-archive::before,
.legend-informtation-list ul li.item-type-archive::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\F1F8';
  font-size: 16px;
  line-height: 1.1rem;
  color: #2c6789;
}

.legend-informtation-list ul li {
  margin-bottom: 4px;
}

.items-list li a {
  color: #000000;
  text-decoration: none;
}
.items-list li a:hover {
  text-decoration: underline;
}
.btn-group {
  display: flex;
  min-width: 65px;
  justify-content: space-around;
  align-items: center;
}
.items-list li:hover .btn-group {
  visibility: visible;
}
.active {
  background: #c0cfd7;
}
