{
  "extends": ["fbjs"],
  "plugins": ["react-hooks"],
  "rules": {
    "no-debugger": "warn",
    "indent": "off",
    "max-len": "off",
    "no-unreachable": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "consistent-return": "off"
  }
}
