.journal-editor {
  padding: 30px;
  font-weight: 400;
  width: 100%;
}

.journal-editor-row {
  $this: &;

  display: flex;
  align-items: center;
  margin-bottom: 10px;

  &__title {
    margin-right: 1.2rem;
    font-weight: 600;
  }

  .select__placeholder {
    color: #4c5069;
    font-size: 14px;
  }

  .select__indicator-separator {
    display: none;
  }

  &.\--align-top {
    align-items: flex-start;

    #{$this}__title {
      margin-top: 10px;
    }
  }
}

.journal-entry-form {
  &__field {
    border: 2px solid transparent;

    &.\--error {
      border-color: #993399;
    }

    .tox .tox-toolbar--scrolling {
      flex-wrap: wrap;
    }
    .tox .tox-editor-header {
      z-index: inherit;
    }
  }

  .error-msg {
    position: relative;
  }

  .basic-multi-select {
    min-width: 300px;
  }
  .basic-multi-select.\--error {
    .select__control {
      font-size: 14px;
      border: 1px solid #993399;
    }
  }
  & .-blue-btn {
    min-height: 35px;
  }
}

.journal-editor-action-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .journal-editor {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 1180px) {
  .journal-editor {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 1024px) {
  .journal-editor {
    padding-left: 0px;
    padding-right: 0px;

    .basic-multi-select {
      min-width: 120px;
    }
  }
}

@media screen and (max-width: 992px) {
  .journal-editor {
    &-row__title {
      margin-right: 1rem;
    }
  }
}

@media screen and (max-width: 920px) {
  .journal-editor {
    &-row {
      display: block;

      &__title {
        margin-right: 0;
      }

      .basic-multi-select {
        margin-top: 6px;
        margin-right: 2px;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .journal-editor {
    &-row {
      display: flex;

      &__title {
        margin-right: 1rem;
      }

      .basic-multi-select {
        margin-top: 0;
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .journal-editor {
    .journal-entry-form {
      .w-full {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .journal-editor {
    padding-top: 10px;
    > h2 {
      font-size: 24px;
    }

    &-row {
      display: block;

      &__title {
        margin-right: 0;
      }

      .basic-multi-select {
        margin-top: 6px;
        margin-right: 2px;
      }
    }
  }
}

@media screen and (max-width: 465px) {
  .journal-editor {
    > h2 {
      font-size: 20px;
    }

    .input-filed .form-control {
      padding: 0.5rem 0.5rem;
      font-size: 14px;
    }

    &-row {
      &__title {
        font-weight: 500;
      }

      .basic-multi-select .select__placeholder {
        font-weight: 400;
      }
    }
  }
}

@media screen and (max-width: 336px) {
  .journal-editor {
    .journal-entry-form__field .tox.tox-tinymce {
      height: 330px !important;
    }
  }
}
