.component-concerns {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .question-box {
    margin-bottom: 1.5rem;
  }

  .reports-block-graph__chart {
    width: 100%;
    padding: 0 1rem;
  }
}
