@import '../../ui/var.scss';

.hero-title {
  margin: 40px 0;
  line-height: 2.5rem;
  font-size: 1.2rem;
  color: #fff;
  background: $text-dark-blue;
  padding: 30px 15px;
  border-radius: 8px;
  font-weight: 400;
  text-align: center;
  h1 {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 10px;
  }
  &_image {
    max-width: 170px;
    padding-left: 0px;
    padding-right: 15px;
    margin-top: 10px;

    img {
      width: 80px;
    }
  }
  .hero-children {
    width: calc(100% - 170px);
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    a {
      color: white;
    }
  }
}

.hero-title_image {
  svg {
    fill: white;
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 1024px) {
  .hero-title {
    padding: 15px 0px;
    margin: 10px 0;
  }
}

@media screen and (max-width: 850px) {
  .hero-title {
    &_image {
      max-width: 150px;
      padding-left: 10px;
      margin-top: 0;

      img {
        width: 72px;
      }
    }

    .hero-children {
      width: calc(100% - 150px);
      .hero-description {
        line-height: 1.75rem;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .hero-title {
    padding: 15px 0px;
    margin: 10px 0;
  }
}

@media screen and (max-width: 640px) {
  .hero-title {
    padding: 15px 0px;
    margin: 10px 0;

    &_image {
      max-width: 120px;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 0;

      img {
        width: 54px;
      }
    }

    .hero-children {
      width: calc(100% - 120px);
      h1 {
        line-height: 1.75rem;
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 0.4rem;
      }
      .hero-description {
        line-height: 1rem;
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 465px) {
  .hero-title {
    padding: 15px 0px;
    margin: 10px 0;

    &_image {
      max-width: 80px;
      padding-left: 5px;
      padding-right: 5px;
      margin-top: 6px;

      img {
        width: 36px;
      }
    }

    .hero-children {
      width: calc(100% - 80px);
      h1 {
        line-height: 1.5rem;
        font-size: 1.2rem;
      }
      .hero-description {
        line-height: 1rem;
        font-size: 0.9rem;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .hero-title {
    padding: 15px 0px;
    margin: 10px 0;

    &_image {
      max-width: 40px;
      padding-left: 5px;
      padding-right: 5px;
      margin-top: 4px;

      img {
        width: 30px;
      }
    }

    .hero-children {
      h1 {
        line-height: 1.2rem;
        font-size: 1rem;
      }
      .hero-description {
        line-height: 0.9rem;
        font-size: 0.8rem;
      }
    }
  }
}
